html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	color: #fff;
	font-size: 25px;
	font-family: 'Montserrat';
}

.container  {
	text-align: center;
/*
	margin-bottom: auto;
	margin-top: auto;
*/
}

.startupbg h1{
	font-size: 115%;
	
	
}

.faded {
	color: rgba(255, 255, 255, 0.8);
}


button {
	text-transform: capitalize;
	
	
}

.startupbg {
	background-image: url("laptop.jpg");
	height: 100%;
	background-position: center;
	background-size: cover;
}

.btn-primary {
	border-radius: 300px;
	background-color: #2ECC71;
	border-color: #2ECC71;
	font-size: 90%;
	transition: all .2s;
}

.btn-primary:hover {
  background-color: #2ECC71;
  border-color: #2ECC71;
  border-width: 5px;
  cursor: pointer;
}

hr {
	margin-top: 200px;
  	margin-bottom: 30px;
	max-width: 65px;
	border-width: 3px;
 	border-color: #2ECC71;
}

